{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 4 versions", "ie >= 8", ">= 0.5%"]
      },
      "loose": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "es": {
    }
  }
}
