{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs"],
        ["babel-plugin-add-module-exports"]
      ]
    },
    "test": {
      "plugins": [
        ["babel-plugin-istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
